body {
    font-family: 'Nunito', sans-serif;
}

.page-enter-active, .page-leave-active {
    transition: opacity .3s
  }
  .page-enter, .page-leave-active {
    opacity: 0
  }

$primary-color: #5D34CB;
$red: #CB3456;
$green: #A2CB34;
$teal: #34CBA9;

$main-gray: #e8e8e8;
