.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

.quicksand {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

i.material-icons {
    vertical-align: -6px;
}

button {
    background: 0 0;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

[tooltip] {
    position: relative;
    display: inline-block;
    text-transform: none;
  }
  
  [tooltip]::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    z-index: 99;
    opacity: 0;
  }
  
  [tooltip-position='left']::before {
    left: 0;
    top: 50%;
    margin-left: -12px;
    transform: translatey(-50%) rotate(-90deg)
  }
  
  [tooltip-position='top']::before {
    left: 50%;
  }
  
  [tooltip-position='bottom']::before {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)
  }
  
  [tooltip-position='right']::before {
    left: 100%;
    top: 50%;
    margin-left: 1px;
    transform: translatey(-50%) rotate(90deg)
  }
  
  [tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translateX(-50%) translateY(-100%);
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 14px;
    min-width: 30px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index: 1000;
    opacity: 0;
  }
  
  [tooltip-position='left']::after {
    left: 0;
    top: 50%;
    margin-left: -8px;
    transform: translateX(-100%) translateY(-50%);
  }
  
  [tooltip-position='top']::after {
    left: 50%;
  }
  
  [tooltip-position='bottom']::after {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(0%);
  }
  
  [tooltip-position='right']::after {
    left: 100%;
    top: 50%;
    margin-left: 8px;
    transform: translateX(0%) translateY(-50%);
  }
  
  [tooltip]:hover::after, [tooltip]:hover::before {
    opacity: 1
  }

  .content-intro {
    padding-top: 30px;
    color: #fff;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
    position: relative;
  
    .inside-content {
      background-color: #FF3CAC;
      background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
      // background: linear-gradient(to top left, rgba(255, 0, 71, 1) 0%, rgba(247, 35, 94, 1) 40%, rgba(117, 11, 130, 1) 81%, rgba(133, 30, 154, 1) 100%);
      margin: 0 auto;
      text-align: center;
      padding: 90px 10px;

      h1 {
        font-weight: 100;
        font-size: 65px;
        margin: 0 0 20px;
      }

      h2 {
        font-weight: 500;
        letter-spacing: 0.18em;
        font-size: 20px;
      }
    }
}

.content-work {
    margin-top: 60px;
    padding: 10px;
    text-align: center;

    .item {
        position: relative;
        text-align: initial;
        display: inline-block;
        width: calc(100% - 20px);
        height: 450px;
        vertical-align: top;
        margin: 10px;
        box-shadow: 0px 0px 10px 1px $main-gray;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        transition: .2s;

        @media (min-width: 768px) {
            width: 46%;
            height: 380px;

            &:hover {
              transform: scale(0.95);
            }
        }

        @media (min-width: 1200px) {
            width: 23%;
            height: 230px;
        }
    }
}

.canvas-holder {
  text-align: center;

  .item {
    display: inline-block;
    padding: 20px;

    canvas {
      width: calc(100% - 20px);
      height: 460px;
    }
  }
}

.about {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  text-align: center;
  margin: 30px 0;
  padding: 30px 0;
  color: #fff;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.3);
  position: relative;

  h3 {
    font-weight: 100;
    font-size: 65px;
    margin: 0 0 20px;
  }
  ul {
    li {
      padding: 10px;
      font-size: 25px;
      &.plus {
        font-size: 45px;
      }
    }
  }
}

.contact {
  text-align: center;
  h3 {
    font-size: 35px;
    color: #fff;
  }

  .item {

    // border-radius: 5px;
    // border: 1px solid $primary-color;
    margin-right: 30px;

    @media (min-width: 768px) {
      display: inline-block;
    }

    a {
      position: relative;

      svg {
        rect {
          stroke-dasharray: 140 540;
          stroke-dashoffset: -474;
          stroke-width: 8px;
          fill: transparent;
          stroke: $primary-color;
          border-bottom: 5px solid black;
          transition: stroke-width .5s, stroke-dashoffset .5s, stroke-dasharray .5s;
        }
      }

      .text {
        position: relative;
        top: -48px;
        font-size: 30px;
        color: $primary-color;
      }

      &:hover {
        svg {
          rect {
            stroke-width: 3px;
            stroke-dashoffset: 0;
            stroke-dasharray: 760;
          }
        }
      
      }
    }

      
    

    // &:hover {
    //   stroke-width: 2px;
    //   stroke-dashoffset: 0;
    //   stroke-dasharray: 760;
    // }
  }
}