header {
    height: 54px;
    position: relative;

    .header {
        background: #fff;
        height: 54px;
        border-bottom: 1px solid $main-gray;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;

        .right-tab {
            float: right;
            padding: 15px;
            color: initial;
            
            img {
                width: 24px;
            }

            @media (min-width: 910px) {
                padding: 15px 20px;
            }

            span {
                display: none;
                
                @media (min-width: 910px) {
                    display: initial;
                }
            }
        }
    }

    .menu-button {
        height: 54px;
        width: 54px;
        line-height: 0;

        i {
            font-size: 30px;
        }
    }

    .header-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        cursor: pointer;
        color: #000;
    }
}
